<h1>My first attribute directive</h1>

<h2>Pick a highlight color</h2>

<div>
  <input type="radio" name="colors" (click)="color='lightgreen'" />Green
  <input type="radio" name="colors" (click)="color='yellow'" />Yellow
  <input type="radio" name="colors" (click)="color='cyan'" />Cyan
</div>
<div style="width: fit-content">
  <p [appHighlight]="color" defaultColor="violet">Highlight me</p>
  <p [appHighlight]="color">Highlight me too, no default color!</p>
</div>

<h3>ngNonBindable with directive</h3>
<div style="width: fit-content">
  <p ngNonBindable [appHighlight]="'yellow'">
    This should not eavluate to 2 {{ 1 + 1 }}, but will highlight yellow
  </p>
</div>